@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*{
    font-family:'Play';
    
    color: white;
    
}
.left{
    
    flex: 2;  
}
.center{
    
    flex: 3.5; 
}
.right{
    
    flex: 2; 
}
body{
    display: inline-flex;
    background-color: rgb(38, 36, 36);
}
button,select{
    background-color: rgb(38, 36, 36);
}
header{
    text-align: center;
    background-color: rgb(19, 18, 18);
}
.column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.row{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
td,th{
    border:solid black;
}
footer{
    text-align: center;
    background-color: rgb(19, 18, 18);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}