@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*{
    font-family:'Play';
    
    color: white;
    
}
.left{
    flex: 1;  
    
}
.center{
    background-color: rgb(43, 38, 38);
    flex: 3.5; 
    padding-top:5px;
    
}
.good{
    background-color: green;
}
.bad{
    background-color: red;
}
.medium{
    background-color: rgb(193, 193, 29);
}
.right{
    flex: 1.5; 
}
main{
    display: flex;
    background-color: rgb(35, 32, 32);
    
    
    
    padding:2px
}
button,select{
    background-color: rgb(38, 36, 36);
    flex-wrap:nowrap
}
header{
    text-align: center;
    background-color: rgb(4, 4, 203);
    padding:5px;
    margin-bottom:0;
}
body{
    background-color: rgb(35, 32, 32);
}
.column{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.row{
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    width: 100%;
    align-self: center;
}
td,th{
    border:solid black;
    text-align: center;
}
.table_l{
    width: "50%";
}
.table_r{
    width: "25%";
}
.table_c{
    width: "25%";
}
table{
    width:100%;
}
footer{
    text-align: center;
    background-color: rgb(19, 18, 18);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    flex-wrap: wrap; 
}
@media screen and (min-width: 705px) {
    .center{
        padding-bottom: 130px;
    }
  }
  @media screen and (max-width: 705px) {
    .left{
        margin-bottom: 20%;
    }
    main{
        margin-bottom: 10%;
    }
  }